@font-face {
  font-family: "iconfont"; /* Project id 5012148 */
  src: url('iconfont.woff2?t=1756822952104') format('woff2'),
       url('iconfont.woff?t=1756822952104') format('woff'),
       url('iconfont.ttf?t=1756822952104') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-ziyuan558:before {
  content: "\e78e";
}

.icon-lujing:before {
  content: "\e639";
}

.icon-bofang:before {
  content: "\e8a3";
}

.icon-iconproject:before {
  content: "\e626";
}

